description "Australian e-Heritage Portal Application Server"
start on runlevel [2345]
stop on runlevel [06]
respawn
respawn limit 10 5
setuid eheritage
setgid eheritage
chdir {{project_code}}
exec uwsgi --die-on-term -s /tmp/{{project_name}}.sock --plugin python --plugin syslog --virtualenv {{project_venv}} --log-syslog={{project_name}} -w {{project_name}}:app --chmod-socket=666

