server {
    listen 80 default;

    server_name eheritage.metadata.net;
    keepalive_timeout 5;

    access_log /var/log/nginx/eheritage.log;
    error_log /var/log/nginx/eheritage_error.log;


    location / {
        include uwsgi_params;
        uwsgi_pass unix:/tmp/{{project_name}}.sock;
    }

    location /static {
        root {{project_code}}/eheritage;
    }
}
