description "Australian e-Heritage Portal Application Server"
start on runlevel [2345]
stop on runlevel [06]
respawn
respawn limit 10 5
setuid eheritage
setgid eheritage
chdir {{project_code}}
exec uwsgi --die-on-term -s /tmp/uwsgi.sock --plugin python --virtualenv {{project_venv}} -w eheritage:app --chmod-socket=666
