.pagination-page-info {
    padding: .6em;
    margin: .5em;
    font-size: 12px;
}

ul li .active {
    font-weight: bold;
}

/*
 * MAP STYLES
 */
#map { height: 550px; }

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}




/*
 * EMBER STYLES
 */
.ember-view.active {
    font-weight: bold;

}


/*
 * jQuery-highlight styles
 */
.highlight {
    background-color: #FFFF88;
}

/*
 * Top Navbar
 */
body {
    padding-top: 58px;
}
header.navbar {
    background-color: aliceblue;
}



/*
 * Facet sidebar
 */
.facets li {
    font-size: 12px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.facets ol {
    padding-left: 0px;
    padding-bottom: 5px;
}

/*
 * Results List
 */
.results li {
    list-style: none;
    margin: 0px;
    padding-bottom: 5px;
}

.results .address {
    font-size: 13px;
}


.lga-marker {
  background-color: rgba(120, 188, 255, 0.6);
}

.lga-marker div {
  background-color: rgba(30, 144, 255, 0.6);
}
