.pagination-page-info {
    padding: .6em;
    margin: .5em;
    font-size: 12px;
}

ul li .active {
    font-weight: bold;
}


/* Always display a scroll bar, so that short pages
    don't make the content jump around horizontally */
html {
    overflow-y: scroll;
}


/*
 * EMBER STYLES
 */
.ember-view.active {
    font-weight: bold;

}


/*
 * jQuery-highlight styles
 */
.highlight {
    background-color: #FFFF88;
}

body {
    background-color: #AD530B;
    background: url(/static/images/5917956976_43d0e169c0_o.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

/*
 * Top Navbar
 */

.header {
    background-color: rgba(50,50,50,0.9);
    padding-bottom: 2px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.header .navbar-brand {
    font-weight: 600;
    font-size: 2.750rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.42);
    padding: 15px 0px 0px 0px;
    height: auto;
}

.header .navbar {
    margin-bottom: 0px;
    min-height: 45px;
}

.header .nav-pills>li>a {
    border-radius: 0px;
    padding-bottom: 5px;
}
.header .nav-pills>li>a:hover, .header .nav-pills>li>a:focus {
    background-color: transparent;
    border-bottom: 4px solid white;
}

.header .nav-pills a {
    font-size: 16px;
    color: white;
}

.main-content {
    background-color: white;
    padding-bottom: 30px;
}

/********
 * Footer
 *********/
.footer {
    background-color: #3D352E;
    /*background-color: rgba(50,50,50,0.9);*/
    color: white;
    padding: 15px;
    text-align: center;
}
.footer p {
    margin: 16px;
}
.footer .copyright, .footer .copyright a {
    color: rgb(210, 210, 210);
    font-size: 16px;
}




/****************
 * RESULTS PAGE *
 ****************/

li span.count {
    float: right;
    color: #888;
}

li.more {
    display: none;
}

/*
 * Facet sidebar
 */
.facets li {
    font-size: 12px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.facets ol {
    padding-left: 0px;
    padding-bottom: 5px;
}


.facets {
    border-right: 1px solid #e2e2e2;
}

/*
 * Results List
 */

.results .icon {
    font-size: 150%;
    color: green;
    text-align: center;
    margin: 0 auto;
}

.results .record-details {

}
.results a .icon-link-external {
    font-size: 110%;
    vertical-align: bottom;
}

.results .address {
    font-size: 13px;
}
.results .row {
    padding-bottom: 10px;
}

/************
 * MAP PAGE *
 ************/

.lga-marker {
  background-color: rgba(120, 188, 255, 0.6);
}

.lga-marker div {
  background-color: rgba(30, 144, 255, 0.6);
}

/*
 * MAP STYLES
 */
#map { height: 550px; }

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/*************
 * HOME PAGE *
 *************/

.row.topRow {
    padding-top: 15px;
}

p.date-range-separator {
    display: inline-block;
}

#frontPageCarousel {
    background-color: black;
}
#frontPageCarousel .carousel-caption {
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
}
#frontPageCarousel .copyright {
    font-size: 70%;
}

.search-widget {
    background-color: antiquewhite;
}

.search-widget {
    border: 2px solid black;
    margin: 15px 0px 30px 0px;
}
.search-widget .sidebar {
    border-right: 2px solid black;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}


.search-widget .search-tools {
    padding-top: 20px;
    padding-bottom: 20px;
}

/**************
 * ABOUT PAGE *
 **************/

.about-images img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

/************
 * TIMELINE *
 ************/

.d3chart text {
    /*fill: white;*/
    font: 10px sans-serif;
    text-anchor: middle;
}
.d3chart rect, .d3chart text {
    cursor: pointer;
}
.wide-input {
  display:block;
  width:100%;
  padding:0;
}

.timeline-tooltip {
    background-color: rgba(120, 188, 255, 0.97);
    border: 1px solid black;
    padding: 5px;
}

/***************
 * RECORD PAGE *
 ***************/
#record-map {
    height: 250px;
    margin-top: 20px;
}
.results .re .results .address {
    font-size: 13px;
}