{% extends "layout.html" %}

{% block title %}About{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-7 col-md-offset-2">

<h2>About</h2>
<hr>

<p> The Australian e-Heritage Portal is a collaboration between FAIMS
(Federated Archeological Information Management Systems), the University of
Queensland eResearch Lab and the Queensland and Victorian Heritage Branches.
</p>

<p> The cultural heritage branches across Australia hold rich and unique
documentation on significant places and landscapes – and the people and events
associated with them. The information held in these heritage listings supports
the conservation, maintenance and re-use of listed sites and provides a rich
resource of primary and secondary material for historical, cultural and
architectural researchers. The proposed Australian e-Heritage Portal will make
this material openly and easily available to researchers, educators and the
community through a single Web site. </p>

<p> The aim of the e-Heritage Portal is to eventually provide a single online
federated search interface across  all of the State- and Territory-based and
National heritage registers (which to date are stand-alone databases with
separate Web-based search interfaces). </p>

<p> The first stage of the Australian e-Heritage Portal involves the
development of a prototype which will provide a common search interface across
the Queensland and Victorian Heritage registers through the harvesting and
integration of the metadata records for each heritage site. Future development
will involve the integration of heritage registers/databases from the other
states and territories (e.g., NSW, South Australia, Northern Territory, ACT,
WA). </p>

<p> The Web-based portal will include a search, browse and retrieval interface
that combines keyword/ ontology searching, and mapping and time-line interfaces
to allow users to interactively search for significant heritage sites (and
associated photos, drawings, descriptions) by topic, place, time, creator,
period etc. </p>

    </div>
</div>

<div class="row text-center">
    <div class="col-md-offset-2 col-md-7 about-images">
    <a href="http://www.uq.edu.au/">
        <img src="{{ url_for('static', filename='images/UQ.png') }}"
             alt="The University of Queensland Logo">
    </a>

    <a href="https://www.fedarch.org/">
        <img src="{{ url_for('static', filename='images/FAIMS-BO.png') }}"
             alt="Federated Archaeological Information Management Systems Project Logo">
    </a>
    </div>
</div>




{% endblock %}