{% extends "layout.html" %}

{% block title %}Contact us{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-10">
<h2>Contact Information</h2>
<hr>


<h3>e-Heritage Portal Website Development</h3>

<p>This website is developed by the eResearch lab at the University of Queensland in Brisbane, Australia. Feel free to contact us regarding the website and the technology used in producing it.</p>

<p style="white-space: pre;"><a href="mailto:jane@itee.uq.edu.au">Prof. Jane Hunter</a>
Director eResearch

<a href="mailto:d.ayers@uq.edu.au">Damien Ayers</a>
Research Assistant

<a href="mailto:a.gebers@uq.edu.au">Andre Gebers</a>
Software Engineer
</p>

<p style="white-space: pre;">Level 7, General Purpose South Building (No. 78)
The University of Queensland, QLD 4072, Australia
Phone: +61 7 336 54541
Website: <a href="http://www.itee.uq.edu.au/~eresearch">http://www.itee.uq.edu.au/~eresearch</a>
</p>

<hr>

<h3>Related Links</h3>

<ul>
  <li><a href="http://www.ehp.qld.gov.au/heritage/qld-register">Queensland Heritage Register</a></li>
  <li><a href="http://www.dpcd.vic.gov.au/heritage/victorian-heritage-register">Victorian Heritage Register</a></li>
  <li><a href="http://www.environment.nsw.gov.au/heritageapp/heritagesearch.aspx">New South Wales Heritage Register</a></li>
  <li><a href="http://www.environment.act.gov.au/heritage/heritage_register">Australian Capital Territory Heritage Register</a></li>
  <li><a href="http://www.heritage.tas.gov.au/">Heritage Tasmania</a></li>
  <li><a href="http://www.environment.sa.gov.au/our-places/Heritage/SA_Heritage_Register">SA Heritage Register</a></li>
  <li><a href="http://www.dlp.nt.gov.au/heritage/nt-heritage-register">NT Heritage Register</a></li>
  <li><a href="http://stateheritage.wa.gov.au/state-heritage-register">WA Heritage Register</a></li>
  <li><a href="http://www.heritage.gov.au/ahpi/">Australian Heritage Places Inventory</a></li>
  <li><a href="http://www.environment.gov.au/topics/heritage">Department of the Environment - Heritage</a></li>
  <li><a href="https://www.fedarch.org/wordpress/">Federated Archaeological Information Management Systems</a></li>
</ul>

    </div>
</div>


{% endblock %}