{% extends "layout.html" %}

{% block content %}


<div class="page-header">
  <h2>Search</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Search Australian Heritage Records, or explore using the Map and Timeline pages.</p>
    </div>
</div>
<div class="row">

    <div class="col-md-8 col-md-offset-2">


        <div class="row search-widget">
            <div class="col-md-3 sidebar">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#what" data-toggle="tab">What</a></li>
                    <li><a href="#where" data-toggle="tab">Where</a></li>
                    <li><a href="#when" data-toggle="tab">When</a></li>
                    <li><a href="#who" data-toggle="tab">Who</a></li>
                </ul>
            </div>

        <form  method="get" name="search" action="/search/">
            <div class="col-md-9 search-tools">
              <div class="tab-content">
                <div class="tab-pane active" id="what">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Keyword search" name="keyword">
                    </div>
                    <div>
                        <p>e.g., “memorial”, “church”, “Kelly”</p>
                    </div>
                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary btn-lg">Search</button>
                    </div>
                </div>
                <div class="tab-pane" id="where">
                    <p class="lead">Where</p>
                </div>
                <div class="tab-pane form-inline" id="when">
                    <div>
                        <p>Constructed Between</p>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" size="6" placeholder="From" name="construction_from">
                        <p class="date-range-separator"> - </p>
                        <input type="text" class="form-control input-lg" size="6" placeholder="To" name="construction_to">
                    </div>
                    <div>
                        <p>e.g., 1874 - 1883,  - 1820, 2000 - </p>
                    </div>
                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary btn-lg">Search</button>
                    </div>
                </div>
                <div class="tab-pane" id="who">
                    <p class="lead">Who</p>
                </div>
              </div>
            </div>
        </form>
        </div>
    </div>
</div>


<div class="page-header">
  <h2>Federated Heritage Databases</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Queensland</h3>
    <p>The Queensland Heritage Register is a list of places of cultural heritage significance to Queensland to be protected for present and future generations.</p>
    <p><a class="btn btn-default" href="http://www.ehp.qld.gov.au/heritage/qld-register/index.html" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h3>Victoria</h3>
    <p>The Victorian Heritage Register lists the State’s most significant heritage places and objects.</p>
    <p><a class="btn btn-default" href="http://www.dpcd.vic.gov.au/heritage/victorian-heritage-register" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-md-4">
    <h3>Beyond</h3>
    <p>In the future the e-Heritage Portal will include records of heritage places and objects from all over Australia.</p>
    <p><a class="btn btn-default" href="http://www.environment.gov.au/topics/heritage" role="button">View details &raquo;</a></p>
  </div>
</div>

{% endblock %}