{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <p class="lead">Welcome to the Australian E-Heritage Prototype. Explore the heritage records using the Search and Map links above.</p>
    </div>
</div>


<div class="row">

    <div class="col-md-8 col-md-offset-2">


        <div class="row search-widget">
            <div class="col-md-3 sidebar">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">What</a></li>
                    <li><a href="#">Where</a></li>
                    <li><a href="#">When</a></li>
                    <li><a href="#">Who</a></li>
                </ul>
            </div>


            <div class="col-md-9 search-tools">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Keyword search">
                </div>
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-primary btn-lg">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <p>Welcome to the Australian E-Heritage Prototype. Explore the heritage records using the Search and Map links above.</p>
    </div>
</div>
{% endblock %}