{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <!-- JQuery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock %}

{% block content %}


<div class="row topRow">
    <div class="col-md-5">
        <h3>Explore Australian Heritage</h3>
        <p>The e-Heritage Portal enables users to search across Heritage
        databases distributed across the States and Territories of Australia,
        including the Queensland, Victorian and South Australian Heritage
        registers.</p>
        <p>
        <a class="btn btn-default pull-right" href="/about" role="button">Read more »</a>
        </p>

        <div class="clearfix"></div>

        <h4>Start searching:</h4>
        <ul class="frontsearch nav nav-tabs" role="tablist">
            <li class="active"><a href="#what" data-toggle="tab">What</a></li>
            <li><a href="#where" data-toggle="tab">Where</a></li>
            <li><a href="#when" data-toggle="tab">When</a></li>
            <li><a href="#who" data-toggle="tab">Who</a></li>
        </ul>

        <div class="frontsearch tab-content">
            <div class="tab-pane active" id="what">
              <form  method="get" name="search" action="/search/">
                <input type="text" class="form-control input-lg" placeholder="Keyword" name="keyword">
                <p>e.g. memorial, church, Kelly</p>
                <button type="submit" class="btn btn-primary btn-lg pull-right">Search</button>
              </form>
            </div>

            <div class="tab-pane" id="where">
                <input type="text" class="form-control input-lg" id="where_field" placeholder="Place name" name="where">
                <input type="hidden" id="where_coords">
                <p>e.g. Bendigo, Stanthorpe</p>
                <button type="submit" class="btn btn-primary btn-lg pull-right" id="where_button" disabled>View place on map</button>
            </div>

            <div class="tab-pane form-inline" id="when">
              <form  method="get" name="search" action="/search/">
                <p>Constructed Between</p>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" size="6" placeholder="From" name="construction_from">
                    <p class="date-range-separator"> - </p>
                    <input type="text" class="form-control input-lg" size="6" placeholder="To" name="construction_to">
                </div>
                <p>e.g., 1874 - 1883,  - 1820, 2000 - </p>
                <button type="submit" class="btn btn-primary btn-lg pull-right">Search</button>
              </form>
            </div>

            <div class="tab-pane" id="who">
              <form  method="get" name="search" action="/search/">
                <input type="text" class="form-control input-lg" id="who" placeholder="Person name" name="person">
                <p>e.g. Kelly</p>
                <button type="submit" class="btn btn-primary btn-lg pull-right">Search</button>
              </form>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
    </div>


    <div class="col-md-7">
        <div id="frontPageCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#frontPageCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#frontPageCarousel" data-slide-to="1"></li>
                <li data-target="#frontPageCarousel" data-slide-to="2"></li>
                <li data-target="#frontPageCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner center-block">
                <div class="item active">
                    <a href="/record/VIC-67243">
                        <img src="{{ url_for('static', filename='images/front_3.jpg') }}" alt="Wallace's Hut, Bogong High Plains, Australia">
                    </a>
                    <div class="carousel-caption">Wallace's Hut, Bogong High Plains, Australia<br>
                    <span class="copyright">Image Copyright <a href="https://www.flickr.com/photos/rod_waddington/7318932692">Rod Waddington</a>, (<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>)</span>
                    </div>
                </div>
                <div class="item">
                    <a href="/record/VIC-64909">
                        <img src="{{ url_for('static', filename='images/front_1.jpg') }}" alt="Captain Cook's Cottage">
                    </a>
                    <div class="carousel-caption">Captain Cook's Cottage, Victoria</div>
                    <!-- Image from https://www.flickr.com/photos/statelibraryofvictoria_collections/13768608854/ -->
                </div>
                <div class="item">
                    <a href="/record/QLD-600133">
                        <img src="{{ url_for('static', filename='images/front_2.jpg') }}" alt="Naldham House">
                    </a>
                    <div class="carousel-caption">Naldham House, Brisbane</div>
                    <!-- Image from https://www.flickr.com/photos/statelibraryqueensland/7960199824 -->
                </div>
                <div class="item">
                    <a href="/record/VIC-65710">
                        <img src="{{ url_for('static', filename='images/front_4.jpg') }}" alt="Captain Cook's Cottage">
                    </a>
                    <div class="carousel-caption">Melbourne City Baths circa 1914</div>
                    <!-- Image from https://www.flickr.com/photos/statelibraryofvictoria_collections/6104462531 -->
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#frontPageCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#frontPageCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div>
    </div>
</div>


<div class="page-header">
  <h3>Federated Heritage Databases</h3>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Queensland</h4>
    <p>The Queensland Heritage Register is a list of places of cultural heritage significance to Queensland to be protected for present and future generations.</p>
    <p><a class="btn btn-default" href="/search/?state=qld" role="button">View records &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h4>Victoria</h4>
    <p>The Victorian Heritage Register lists the State’s most significant heritage places and objects.</p>
    <p><a class="btn btn-default" href="/search/?state=vic" role="button">View records &raquo;</a></p>
 </div>
  <div class="col-md-4">
    <h4>Beyond</h4>
    <p>In the future the e-Heritage Portal will include records of heritage places and objects from all over Australia.</p>
    <p><a class="btn btn-default" href="http://www.environment.gov.au/topics/heritage" role="button">View details &raquo;</a></p>
  </div>
</div>

<script>
function carouselNormalization(carouselId) {
    var items = $(carouselId + ' .item'), //grab all slides
        heights = [], //create empty array to store height values
        tallest; //create variable to make note of the tallest slide

    if (items.length) {
        function normalizeHeights() {
            items.each(function() { //add heights to array
                heights.push($(this).height());
            });
            tallest = Math.max.apply(null, heights); //cache largest value
            items.each(function() {
                $(this).css('min-height',tallest + 'px');
            });
        };
        normalizeHeights();

        $(window).on('resize orientationchange', function () {
            tallest = 0, heights.length = 0; //reset vars
            items.each(function() {
                $(this).css('min-height','0'); //reset min-height
            });
            normalizeHeights(); //run it again
        });
    }
}
$(document).ready(function() {
    carouselNormalization('#frontPageCarousel');

    enable_placename_autocomplete('#where_field', function (event, ui) {
        var coords = '#13/' + ui.item.details.lat + '/' + ui.item.details.lng;
        $('#where_coords').val(coords);
        $('#where_button').prop('disabled', false);
    });

    $('#where_button').on('click', function() {
        window.location = '/map' + $('#where_coords').val();
    });
});
</script>

{% endblock %}