<!doctype html>
<html>
  <head>
{% block head %}
    <title>{% block title %}{{title}}{% endblock %} - Australian E-Heritage</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

{% endblock head %}
  </head>
  <body>
    <div class="header">
        <div class="container">
            <a href="/" class="navbar-brand">Australian e-Heritage Portal</a>
        </div>
        <div class="navbar container">
            <nav class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav nav-pills">
                    <li><a href="/">Home</a></li>
                    <li><a href="/search/?{{request.query_string}}">Search</a></li>
                    <li><a href="/map?{{request.query_string}}">Map</a></li>
                    <li><a href="/timeline">Timeline</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>
    </div>

<div class="main-content">
    <div class="container">

        <div class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>



        {% block content %}
        {% endblock %}

    </div>
</div>

<div class="footer">
    <div class="container">
        <p class="copyright">&copy; 2014 <a href="http://www.uq.edu.au">The University of Queensland</a> / <a href="https://www.fedarch.org/">FAIMS</a></p>
    </div>
</div>
  </body>
</html>