{% extends "layout.html" %}

{% block title %}Map{% endblock %}

{% block head %}
    {{ super() }}

    <!-- Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

    <!-- Leaflet MarkerCluster -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/leaflet.markercluster/dist/MarkerCluster.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css') }}" />
    <script src="{{ url_for('static', filename='bower_components/leaflet.markercluster/dist/leaflet.markercluster.js') }}"></script>

    <!-- JQuery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    
    <link rel="stylesheet" href="{{ url_for('static', filename='locationfilter.css') }}" />
    <script src="{{ url_for('static', filename='locationfilter.js') }}"></script>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-1">
            <p>
                <input name="keyword" size="80" type="text" value="{{ request.args.get('keyword', '') }}" placeholder="Type keywords">
            </p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <p>
            Search for location<br>
            <input id="location" size="80" type="text" placeholder="Start typing a place name">
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12 record-count">
        {% if count %}
            <p>{{ count }} records in area.</p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="map"></div>
    </div>
</div>


<script>
var MAX_LOCATIONS = 2000;

var map = L.map('map', {
  center : [-27.45, 139],
  zoom : 4
});

// create the tile layer with correct attribution
var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 12, attribution: osmAttrib});
var MapQuestOpen_OSM = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg', {
    attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
    subdomains: '1234'
});
map.addLayer(MapQuestOpen_OSM);

var lgas;
$.getJSON("/locations/lgas", function(data) {
  lgas = data.lgas;
});

var locationFilter = new L.LocationFilter().addTo(map);
locationFilter.on("change", function (e) {
  reloadRecords();
});
locationFilter.on("enabled", function () {
  reloadRecords();
});
locationFilter.on("disabled", function () {
  locationFilter._ne=undefined;
  locationFilter._sw=undefined;
  reloadRecords();
});

function hitCount(query, f) {
    var queryCopy = jQuery.extend(true, {}, query);
    queryCopy.num_results=0;
    jQuery.ajax({
        url: "{{ url_for('locations_json') }}",
        data: queryCopy,
        dataType: "json"
    }).done(function(locations) {
      f(locations.hits.total);
    });
}

function addClusteredRecords(query) {
    hitCount(query, function(total) {
      updateCount("Found "+ total +
        " records in this area. Search or zoom-in to a location to refine.");
      if(total > MAX_LOCATIONS) {
        var bounds = L.bounds([query.north, query.east], [query.south, query.west]);
        var lgaMarkerClusterGroup = new L.MarkerClusterGroup({
            iconCreateFunction: function(cluster) {
              var count = 0;
              $.each(cluster.getAllChildMarkers(), function( index, marker ) {
                count += marker.options.lga.record_count;
              });
              return L.divIcon({
                className: 'leaflet-marker-icon marker-cluster lga-marker leaflet-zoom-animated leaflet-clickable',
                html: '<div><span>'+count+'</span></div>',
                iconSize: new L.Point(40, 40)
              });
            }
        });
        $.each(lgas, function( index, lga ) {
          if(bounds.contains([lga.weighted_center.lat, lga.weighted_center.lon])) {
            var myIcon = L.divIcon({
              className: 'leaflet-marker-icon marker-cluster lga-marker leaflet-zoom-animated leaflet-clickable',
              html: '<div><span>'+lga.record_count+'</span></div>',
              iconSize: new L.Point(40, 40)
            });
            var marker = L.marker([lga.weighted_center.lat, lga.weighted_center.lon], {
              icon: myIcon,
              title: lga.name,
              lga: lga
            });
            marker.on('click', function(e) {
              //TODO sometimes this just zooms in without any other effect.
              //I think this should setup an lga query filter which will only select heritages places from that lga
              //if the hit count is > MAX_LOCATIONS then show the suburbs otherwise show the heritage places
              map.setView([e.target.options.lga.weighted_center.lat,
                e.target.options.lga.weighted_center.lon], map.getZoom()+1);
            });
            lgaMarkerClusterGroup.addLayer(marker);
          }
        });
        replaceMarkerLayer(lgaMarkerClusterGroup);
      } else {
        query.num_results=MAX_LOCATIONS;
        jQuery.ajax({
            url: "{{ url_for('locations_json') }}",
            data: query,
            dataType: "json"
        }).done(function(locations) {
          var markers = new L.MarkerClusterGroup();
          $.each(locations.hits.hits, function( index, hit ) {
            var marker = L.marker(
                L.latLng(hit.fields["geolocation.lat"][0], hit.fields["geolocation.lon"][0]),
                {
                    title: hit.fields.name[0],
                    url: "/record/" + hit['_id']
                }
            );
            marker.on('click', browseToUrl);
            markers.addLayer(marker);
          });
          replaceMarkerLayer(markers);
        });
      }
    });

    function browseToUrl(e) {
        window.open(this.options.url);
    }

    function updateCount(message) {
        $('.record-count p').html(message);
    }

    function replaceMarkerLayer(markers) {
      if (typeof(gMarkers) != "undefined") {
          map.removeLayer(gMarkers);
          gMarkers = undefined;
      }
      if(markers) {
        map.addLayer(markers);
        gMarkers = markers;
      }
    }
}


var query = {
    keyword: $('input[name="keyword"]').val()
}
addClusteredRecords(query);



map.on('moveend', function(e) {
    reloadRecords();
});

</script>

<script>
/* For use with geonames */
function search() {
    var $ = django.jQuery;
    var searchterm = $('#geonames-q').val();

    // Empty the table
    $('#geonames-table > tbody:last').children().remove()


    $.getJSON('http://ws.geonames.org/searchJSON?q=' + encodeURIComponent(searchterm) + '&maxRows=10',
        function (data) {
            console.log(data);
            $.each(data.geonames, function(i, place) {
                $('#geonames-table'
                    ).append('<tr><td name="name">' + place.name + '</td><td name="adminName1">' + place.adminName1 + '</td><td name="country">' + place.countryName + '</td></td><td name="geonameId">' + place.geonameId + '</td><td name="lat">' + place.lat + '</td><td name="lng">' + place.lng + '</td><td><a class="selectPlace" href="#">Select</a></td></tr>');
            });
        });
}


$( "#location" ).autocomplete({
  source: function( request, response ) {
    $.ajax({
      url: "http://ws.geonames.org/searchJSON",
      dataType: "jsonp",
      data: {
        featureClass: "P",
        country: "AU",
        style: "full",
        maxRows: 12,
        name_startsWith: request.term,
        username: 'eheritage_au'
      },
      success: function( data ) {
        response( $.map( data.geonames, function( item ) {
          return {
            label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
            value: item.value,
            details: item
          }
        }));
      }
    });
  },
  minLength: 2,
  select: function( event, ui ) {
    var geonameLocation = ui.item.details;
    var bbox = geonameLocation.bbox;

    var southWest = L.latLng(bbox.south, bbox.west),
        northEast = L.latLng(bbox.north, bbox.east),
    bounds = L.latLngBounds(southWest, northEast);

    map.fitBounds(bounds);

    reloadRecords();
    console.log(event);
    console.log(ui);
    console.log(this);
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

function intersection(b1, b2) {
  if(b1.intersects(b2)) {
    var east = Math.min(b1.getEast(), b2.getEast());
    var west = Math.max(b1.getWest(), b2.getWest());
    var north = Math.min(b1.getNorth(), b2.getNorth());
    var south = Math.max(b1.getSouth(), b2.getSouth());
    return L.latLngBounds([south, west], [north, east]);
  } else {
    return null;
  }
}

function reloadRecords() {
    addClusteredRecords(createQuery());
}

function createQuery() {
    var bounds;
    if(locationFilter.isEnabled()) {
      if(locationFilter.getBounds().intersects(map.getBounds())) {
        bounds = intersection(locationFilter.getBounds(), map.getBounds());
      } else {
        bounds = locationFilter.getBounds();
      }
    } else {
      bounds = map.getBounds();
    }
    return {
        north: bounds.getNorth(),
        south: bounds.getSouth(),
        east: bounds.getEast(),
        west: bounds.getWest(),
        keyword: $('input[name="keyword"]').val()
    }
}

</script>



{% endblock %}