{% extends "layout.html" %}


{% block content %}


<div class="row">
    <div class="col-md-12">
        {% if count %}
            <p>Found {{ count }} matching records</p>
        {% endif %}
        <div id="map"></div>
    </div>
</div>


<script>

var map = L.map('map');

// create the tile layer with correct attribution
var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 12, attribution: osmAttrib});


var MapQuestOpen_OSM = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg', {
    attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
    subdomains: '1234'
});

map.setView([-27.45, 139], 4);
map.addLayer(MapQuestOpen_OSM);

function addClusteredRecords(query) {
    var markers = new L.MarkerClusterGroup({ chunkedLoading: true });

    jQuery.ajax({
        url: "{{ url_for('locations_json') }}" + (query ? query : ""),
        dataType: "json"
    }).done(function(locations) {
        for (var i = 0; i < locations.hits.hits.length; i++) {
            var hit = locations.hits.hits[i];
            var marker = L.marker(
                L.latLng(hit.fields["geolocation.lat"][0], hit.fields["geolocation.lon"][0]),
                {
                    title: hit.fields.name[0],
                    url: "/record/" + hit['_id']
                }
            );
            marker.on('click', browseToUrl);
            markers.addLayer(marker);
        }
        map.addLayer(markers);
        map.fitBounds(markers.getBounds());

    });

    function browseToUrl(e) {
        window.open(this.options.url);
    }
}

function addGeoHashedRecords(query) {

    L.GeohashRect = L.Rectangle.extend({
        initialize: function (geohash, options) {
            L.Rectangle.prototype.initialize.call(this, this._geohashToBounds(geohash), options);
        },

        _geohashToBounds: function(geohash) {
            var gh = this._decodeGeoHash(geohash);

            var southWest = L.latLng(gh['latitude'][0], gh['longitude'][0]),
                northEast = L.latLng(gh['latitude'][1], gh['longitude'][1]),
                bounds = L.latLngBounds(southWest, northEast);
            
            return this._boundsToLatLngs(bounds)
        },

        _decodeGeoHash: function(geohash) {
            var is_even = 1;
            var lat = []; var lon = [];
            lat[0] = -90.0;  lat[1] = 90.0;
            lon[0] = -180.0; lon[1] = 180.0;
            lat_err = 90.0;  lon_err = 180.0;

            for (i=0; i<geohash.length; i++) {
                c = geohash[i];
                cd = this.BASE32.indexOf(c);
                for (j=0; j<5; j++) {
                    mask = this.BITS[j];
                    if (is_even) {
                        lon_err /= 2;
                        this._refine_interval(lon, cd, mask);
                    } else {
                        lat_err /= 2;
                        this._refine_interval(lat, cd, mask);
                    }
                    is_even = !is_even;
                }
            }
            lat[2] = (lat[0] + lat[1])/2;
            lon[2] = (lon[0] + lon[1])/2;

            return { latitude: lat, longitude: lon};
        },
        BITS: [16, 8, 4, 2, 1],
        BASE32: "0123456789bcdefghjkmnpqrstuvwxyz",
        _refine_interval: function(interval, cd, mask) {
            if (cd&mask) {
                interval[0] = (interval[0] + interval[1])/2;
            } else {
                interval[1] = (interval[0] + interval[1])/2;
            }
        }

    });
    L.geohashRect = function (geohash, options) {
        return new L.GeohashRect(geohash, options);
    }

    function getColour(d) {
        // colours from http://colorbrewer2.org/
        return d > 10000 ? '#238b45':
               d > 1000  ? '#66c2a4':
               d > 100   ? '#b2e2e2':
                           '#edf8fb';
    }

    var geoHashesLayer = new L.featureGroup();

    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
    }

    var info = L.control();
    info.onAdd = function(map) {
       this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
       this.update();
       return this._div; 
    }

    // method that we will use to update the control based on feature properties passed
    info.update = function (numRecords) {
        this._div.innerHTML = '<h4>Number of records</h4>' +  (numRecords ?
            '<b>' + numRecords + '</b>'
            : 'Hover over a region');
    };

    info.addTo(map);

    function highlightFeature(e) {
        var layer = e.target;
        info.update(layer.options.numRecords);
    }

    function resetHighlight(e) {
        info.update();
    }

    jQuery.ajax({
        url: "{{ url_for('geogrid_json') }}" + (query ? query : ""),
        dataType: "json"
    }).done(function(locations) {
        var buckets = locations.aggregations.geogrid.buckets;
        for (var i = 0; i < buckets.length; i++) {
            var bucket = buckets[i];
            var ghMarker = L.geohashRect(bucket.key, {
                fillColor: getColour(bucket.doc_count),
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7,
                numRecords: bucket.doc_count
            });
            ghMarker.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: zoomToFeature
            });
            geoHashesLayer.addLayer(ghMarker);

        }
        map.addLayer(geoHashesLayer);
        // map.fitBounds(geoHashesLayer.getBounds());

    });
}
var numRecords = {{ count }};
if (numRecords < 1000) {
    addClusteredRecords(location.search);
} else {
    addGeoHashedRecords(location.search);
}

</script>

{% endblock %}