{% extends "layout.html" %}

{% block title %}Map{% endblock %}

{% block head %}
    {{ super() }}

    <!-- Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

    <!-- Leaflet MarkerCluster -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/leaflet.markercluster/dist/MarkerCluster.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css') }}" />
    <script src="{{ url_for('static', filename='bower_components/leaflet.markercluster/dist/leaflet.markercluster.js') }}"></script>

    <!-- JQuery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

{% endblock %}

{% block content %}

<form  method="get" name="search">
<div class="row">
    <div class="col-md-8 col-md-offset-1">
            <p>
                <input name="keyword" size="80" type="text" value="{{ request.args.get('keyword', '') }}" placeholder="Type keywords">
            </p>
    </div>
</div>
</form>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <p>
            Search for location<br>
            <input id="location" size="80" type="text" placeholder="Start typing a place name">
        </p>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <button id="reload_records">Reload records</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12 record-count">
        {% if count %}
            <p>{{ count }} records in area.</p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="map"></div>
    </div>
</div>


<script>

var map = L.map('map');

// create the tile layer with correct attribution
var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 12, attribution: osmAttrib});


var MapQuestOpen_OSM = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg', {
    attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
    subdomains: '1234'
});

map.setView([-27.45, 139], 4);
map.addLayer(MapQuestOpen_OSM);

function updateCount(locations) {
    var found_records = locations.hits.total;
    var returned_records = locations.hits.hits.length
    var message = "";
    if (found_records > returned_records) {
        message = found_records + " records in this area. Only displaying top " + returned_records + ". Search or zoom to a location and reload to refine.";
    } else {
        message = "Displaying " + returned_records + " records in this area.";
    }
    $('.record-count p').html(message);
}


function addClusteredRecords(query) {
    // var markers = new L.MarkerClusterGroup({ chunkedLoading: true });
    var markers = new L.LayerGroup();

    jQuery.ajax({
        url: "{{ url_for('locations_json') }}",
        data: query,
        dataType: "json"
    }).done(function(locations) {
        updateCount(locations);

        for (var i = 0; i < locations.hits.hits.length; i++) {
            var hit = locations.hits.hits[i];
            var marker = L.marker(
                L.latLng(hit.fields["geolocation.lat"][0], hit.fields["geolocation.lon"][0]),
                {
                    title: hit.fields.name[0],
                    url: "/record/" + hit['_id']
                }
            );
            marker.on('click', browseToUrl);
            markers.addLayer(marker);
        }
        if (typeof(gMarkers) != "undefined") {
            map.removeLayer(gMarkers);
        }
        gMarkers = markers;

        map.addLayer(markers);
        map.fitBounds(markers.getBounds());
    });

    function browseToUrl(e) {
        window.open(this.options.url);
    }
}


var query = {
    keyword: $('input[name="keyword"]').val()
}
addClusteredRecords(query);


</script>

<script>
/* For use with geonames */
function search() {
    var $ = django.jQuery;
    var searchterm = $('#geonames-q').val();

    // Empty the table
    $('#geonames-table > tbody:last').children().remove()


    $.getJSON('http://ws.geonames.org/searchJSON?q=' + encodeURIComponent(searchterm) + '&maxRows=10',
        function (data) {
            console.log(data);
            $.each(data.geonames, function(i, place) {
                $('#geonames-table'
                    ).append('<tr><td name="name">' + place.name + '</td><td name="adminName1">' + place.adminName1 + '</td><td name="country">' + place.countryName + '</td></td><td name="geonameId">' + place.geonameId + '</td><td name="lat">' + place.lat + '</td><td name="lng">' + place.lng + '</td><td><a class="selectPlace" href="#">Select</a></td></tr>');
            });
        });
}


$( "#location" ).autocomplete({
  source: function( request, response ) {
    $.ajax({
      url: "http://ws.geonames.org/searchJSON",
      dataType: "jsonp",
      data: {
        featureClass: "P",
        country: "AU",
        style: "full",
        maxRows: 12,
        name_startsWith: request.term,
        username: 'eheritage_au'
      },
      success: function( data ) {
        response( $.map( data.geonames, function( item ) {
          return {
            label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
            value: item.value,
            details: item
          }
        }));
      }
    });
  },
  minLength: 2,
  select: function( event, ui ) {
    var geonameLocation = ui.item.details;
    var bbox = geonameLocation.bbox;

    var southWest = L.latLng(bbox.south, bbox.west),
        northEast = L.latLng(bbox.north, bbox.east),
    bounds = L.latLngBounds(southWest, northEast);

    map.fitBounds(bounds);

    reloadRecords();
    console.log(event);
    console.log(ui);
    console.log(this);
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

function reloadRecords() {
    var bounds = map.getBounds();
    var query = {
        north: bounds.getNorth(),
        south: bounds.getSouth(),
        east: bounds.getEast(),
        west: bounds.getWest(),
        keyword: $('input[name="keyword"]').val()
    }
    addClusteredRecords(query);
}

$('#reload_records').click(function () {

    reloadRecords();

});
</script>



{% endblock %}