{% extends "layout.html" %}

{% block title %}{{record.name}}{% endblock %}


{% block head %}
    {{ super() }}
<script src="{{ url_for('static', filename='bower_components/jquery-highlight/jquery.highlight.js') }}"></script>
{% endblock %}

{% block content %}

<div class="row record">
    <div class="col-md-8 col-md-offset-2">
        <h1>{{ record.name|title }}</h1>

        <h2>Address</h2>
        {% for address in record.addresses %}
        <p>
            {{address.street_number if address.street_number}} {{address.street_name|title if address.street_name}}<br>
            {{address.suburb|title if address.suburb}}<br>
            {{address.lga_name|title if address.lga_name}}, {{record.state}}, {{address.postcode if address.postcode}}
        </p>
        {% endfor %}

        <h2>Architectural Styles</h2>
        <p>
        {% for style in record.architectural_styles %}
        {{style}}<br>
        {% endfor %}
        </p>

        <h2>Construction Period</h2>
        <p>
            {% if record.construction_start or record.construction_end %}
            {{record.construction_start}} - {{record.construction_end}}
            {% endif %}
        </p>

        <h2>Architects</h2>
        <p>
            {% for architect in record.architects %}
            {{architect}}<br>
            {% endfor %}
        </p>

        <h2>Description</h2>
        <p>
            {{ record.description|default('')|safe }}
        </p>

        <h2>Significance</h2>
        <p>
            {{ record.significance|safe if record.significance }}
        </p>

        <h2>URL</h2>
        <p>
            <a href="{{record.url}}">{{record.url}}</a>
        </p>
    </div>
</div>


<script>
{% if session.search_term %}
var search_term = "{{session.search_term}}";
var terms = search_term.split(/\s+/);
for (var i = 0; i < terms.length; i++) {
    $('div.record').highlight(terms[i]);
}
{% endif %}
</script>


{% endblock %}