{% extends "layout.html" %}

{% block title %}{{record.name}}{% endblock %}


{% block head %}
    {{ super() }}
<script src="{{ url_for('static', filename='bower_components/jquery-highlight/jquery.highlight.js') }}"></script>
    <!-- Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

{% endblock %}

{% block content %}

<div class="row record">
    <div class="col-md-9 col-md-offset-2">
        <h1>{{ record.name|title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <h2>Address</h2>
        {% for address in record.addresses %}
        <p>
            {{address.street_number if address.street_number}} {{address.street_name|title if address.street_name}}<br>
            {{address.suburb|title if address.suburb}}<br>
            {{address.lga_name|title if address.lga_name}}, {{record.state}}, {{address.postcode if address.postcode}}
        </p>
        {% endfor %}

        <h2>Construction Period</h2>
        <p>
            {% if record.construction_start or record.construction_end %}
            {{record.construction_start}} - {{record.construction_end}}
            {% endif %}
        </p>

        {% if record.architectural_styles %}
        <h2>Architectural Styles</h2>
        <p>
            {% for style in record.architectural_styles %}
                {{style}}<br>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    <div class="col-md-4">

        <div id="record-map"></div>
    </div>
</div>
<div class="row record">
    <div class="col-md-8 col-md-offset-2">

        {% if record.architects %}
        <h2>Architects</h2>
        <p>
            {% for architect in record.architects %}
            {{architect}}<br>
            {% endfor %}
        </p>
        {% endif %}

        {% if record.description %}
        <h2>Description</h2>
        <p>
            {{ record.description|default('')|safe }}
        </p>
        {% endif %}

        <h2>Significance</h2>
        <p>
            {{ record.significance|safe if record.significance }}
        </p>

        <h2>URL</h2>
        <p>
            <a href="{{record.url}}">{{record.url}}</a>
        </p>

        <h2>Raw Record</h2>
        <p><a href="{{ url_for('get_record_json', id=record_id) }}">As JSON</a></p>
    </div>
</div>


<script>
{% if session.search_term %}
var search_term = "{{session.search_term}}";
var terms = search_term.split(/\s+/);
for (var i = 0; i < terms.length; i++) {
    $('div.record').highlight(terms[i]);
}
{% endif %}


{% if record.geolocation %}
var map = L.map('record-map', {
  center : [-27.45, 139],
  zoom : 3
});
// create the tile layer with correct attribution
var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 12, attribution: osmAttrib});
var MapQuestOpen_OSM = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg', {
    attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
    subdomains: '1234'
});
map.attributionControl.setPrefix('');
map.addLayer(MapQuestOpen_OSM);

var latlng = L.latLng({{record.geolocation.lat}}, {{record.geolocation.lon}});
L.marker(latlng).addTo(map);

{% endif %}

</script>


{% endblock %}