{% extends "layout.html" %}

{% block title %}Related links{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-10">

<h2>Related Links</h2>
<hr>

<ul>
  <li><a href="http://www.ehp.qld.gov.au/heritage/qld-register">Queensland Heritage Register</a></li>
  <li><a href="http://www.dpcd.vic.gov.au/heritage/victorian-heritage-register">Victorian Heritage Register</a></li>
  <li><a href="http://www.environment.nsw.gov.au/heritageapp/heritagesearch.aspx">New South Wales Heritage Register</a></li>
  <li><a href="http://www.environment.act.gov.au/heritage/heritage_register">Australian Capital Territory Heritage Register</a></li>
  <li><a href="http://www.heritage.tas.gov.au/">Heritage Tasmania</a></li>
  <li><a href="http://www.environment.sa.gov.au/our-places/Heritage/SA_Heritage_Register">SA Heritage Register</a></li>
  <li><a href="http://www.dlp.nt.gov.au/heritage/nt-heritage-register">NT Heritage Register</a></li>
  <li><a href="http://stateheritage.wa.gov.au/state-heritage-register">WA Heritage Register</a></li>
  <li><a href="http://www.heritage.gov.au/ahpi/">Australian Heritage Places Inventory</a></li>
  <li><a href="http://www.environment.gov.au/topics/heritage">Department of the Environment - Heritage</a></li>
  <li><a href="https://www.fedarch.org/wordpress/">Federated Archaeological Information Management Systems</a></li>
</ul>

    </div>
</div>


{% endblock %}