{% extends "layout.html" %}

{% block title %}Timeline{% endblock %}

{% block head %}
    {{ super() }}

    <!-- D3.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>

<style>
.d3chart text {
    /*fill: white;*/
    font: 10px sans-serif;
    text-anchor: middle;
}
</style>


{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Construction Started Decade</h2>
        <div class="d3chart" id="decadeStartChart"></div>
        <h2>Construction Ended Decade</h2>
        <div class="d3chart" id="decadeEndChart"></div>
    </div>
</div>



<script>

d3.json("/api/construction_dates", function (data) {
    allData = data;

    var w = 800,
        h = 150;

    function createChart(selector, data) {
        var barWidth = w / data.length;

        var newChart = d3.select(selector)
            .append("svg")
            .attr("width", w)
            .attr("height", h);

        var y = d3.scale.linear()
            .domain([0, d3.max(data, function(d) { return +d.doc_count; }) ])
            .range([0, h]);

        // x = d3.scale.ordinal()
        //     .domain(data.map(function(d) {return d.key;}))
        //     .rangeRoundBands(w);

        var bar = newChart.selectAll("g")
            .data(data)
          .enter().append("g")
            .attr("transform", function(d, i) { return "translate(" + i * barWidth + ",0)"; })
            .on("click", function(d, i) {
                console.log(d);

            })
            .on("mouseover", function(d, i) {d3.select(this).attr("fill", "steelblue")})
            .on("mouseout", function(d, i) {d3.select(this).attr("fill", "black")});

        bar.append("rect")
            .attr("height", function(d, i) { return y(d.doc_count); })
            .attr("width", barWidth - 1)
            ;



        bar.append("text")
            .attr("x", barWidth / 2)
            .attr("y", function(d) { var myy = y(d.doc_count) - 12; return myy >= 12 ? myy : y(d.doc_count) + 12})
            .attr("fill", function(d) { return y(d.doc_count) >= 24 ? "white" : "black"; })
            .attr("dy", ".35em")
            .text(function(d) { return d.key; });

        return newChart;
    }

    // createChart(data.aggregations.construction_years.buckets);
    // createChart(data.aggregations.construction_decades.buckets);
    createChart("#decadeEndChart", data.aggregations.construction_end_decades.buckets);
    createChart("#decadeStartChart", data.aggregations.construction_decades.buckets);


});


</script>



{% endblock %}